# ignore standard temp files
*.swp

# ignore Mac OS internal files
*.DS_Store

# ignore eclipse files
.project
.classpath
.settings/
bin/

# ignore Standard Playframework files
eclipse/
lib/
logs/
precompiled/
test-result/
tmp/
true

# ignore Maven files
*target/

# ignore IntelliJ IDE files
*.iml
*.ipr
*.iws

# Project Ignore files
modules/siena*
modules/pdf*


#### ????
*.orig
results/
server.pid
